### Strings and Character Data in Python

String are objects that contain sequences of character data. Processing character data is integral to programming. Python provides a rich set of operators, functions, and methods for working with strings. In this module, we'll discuss the below topics.

1. Using operators with strings
2. Accessing and extracting portions of strings
3. Use built-in Python functions with characters and strings
4. Use methods to manipulate and modify string data

#### String Manipulation
1. String Operators
2. Built-In String Functions
    * Case Conversion (upper, lower, title, capitalize)
    * Find and Replace (find, index) 
    * dir and __doc__
3. String Indexing & Slicing
    * name[1]

### Working with python list
List is Python’s most versatile, useful data types. You’ll find list in virtually every Python program. we'll cover the important characteristics of lists and we’ll learn how to define them and how to manipulate them.

1. Lists Overview
2. Indexing and Slicing
3. Nesting
4. List Methods
    * Inserting item to a given position
    * Appending value to a list
    * Removing elements from a list
    * Extending a list and merging with other list
    * Counting instances of an elements in a list
    * index - Finding index of something in the list
    * Sorting a list
    * Reversing a list
    
### Working with dictionary in python
We’ll cover the basic characteristics of Python dictionaries and learn how to access and manage dictionary data. O
1. Dictionaries and lists share the following characteristics:
    * Both are mutable.
    * Both are dynamic. They can grow and shrink as needed.
    * Both can be nested. A list can contain another list. A dictionary can contain another dictionary. A dictionary can also contain a list, and vice versa.

4. Dictionary Methods
    * Get all keys from a dictionary - keys
    * Get all values from a dictionary - values
    * To Access data from a dictionary for a key - get
    * Update a dictionary - update
    * Deleting data from the dictionary
    * Deleting all the key values from a dictionary - clear
    
### Conditional Statements in Python (if/elif/else)
We’ll learn how to work with conditional (“if”) statements in Python. if-statements help us implement complex decision making in your programs.

1. "if", "else" and "elif" Clauses
2. One-Line "if" Statements
3. Conditional Expressions
4. The "pass" Statement

In [72]:
name = "Naveen"

In [86]:
list1 = [1,2,3]

In [88]:
list1

[1, 2, 3]

In [89]:
list1.append(4)

In [91]:
list2 = [4,5,6]

In [92]:
list1.extend(list2)

In [93]:
list1

[1, 2, 3, 4, 4, 5, 6]

In [94]:
dict_1 = {"name": "Naveen", "city": "Delhi"}

In [95]:
type(dict_1)

dict

In [96]:
dir(dict_1)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [97]:
dict_1.get("name")

'Naveen'

In [98]:
print(dict_1)

{'name': 'Naveen', 'city': 'Delhi'}

In [99]:
dict_1.update({"city": "Noida"})

In [100]:
print(dict_1)

{'name': 'Naveen', 'city': 'Noida'}

In [101]:
del dict_1['name']

In [102]:
print(dict_1)

{'city': 'Noida'}

In [ ]:
todo_list = [
    "complete python study", 
    "complete python test",
    "get the certificate"
]

In [106]:
todo_list = [
    {"task": "complete python study", "deadline": "2022-10-10"},
    {"task":"complete python test", "deadline": "2022-10-10"},
    {"task":"get the certificate", "deadline": "2022-10-10"}
]

In [107]:
print(todo_list)

[{'task': 'complete python study', 'deadline': '2022-10-10'}, {'task': 'complete python test', 'deadline': '2022-10-10'}, {'task': 'get the certificate', 'deadline': '2022-10-10'}]

In [108]:
user = {
    "name": "Naveen",
    "courses": ["python", "javascript"]
}

In [109]:
print(user)

{'name': 'Naveen', 'courses': ['python', 'javascript']}

In [110]:
user.keys()

dict_keys(['name', 'courses'])

In [111]:
user.values()

dict_values(['Naveen', ['python', 'javascript']])

In [112]:
def hello():
    """
    this function will print hello world
    """
    return "hello world"


function_list = [hello]

In [113]:
function_list

In [115]:
func_dict = {
    "function_name": "hello world",
    "function": hello
}

In [125]:
num1 = 10
num2 = 20

In [130]:
if num1 == num2:
    print("Same")
    print("something else")
else:
    print("Not same")

Not same

In [131]:
res = "Same" if num1 == num2 else "Not same"

In [129]:
print(res)

Not same

In [134]:
result = num1 >= num2

In [139]:
name = "naveen"

'Return a capitalized version of the string.\n\nMore specifically, make the first character have upper case and the rest lower\ncase.'

**Q: Create a variable name assign your name to that variable**
</br>
**Check what is the type of the variable and what are the public method available on that variable**
</br>
**Practice all the methods and write a brief summary on each of them in your words**

In [ ]:
name = "naveen"

In [142]:
dir(name)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [143]:
"""
To make the 1st char of the string in Upper case
"""
name.capitalize()

'Naveen'

In [75]:
name="naveen"
x = name.casefold()

print(x)

naveen

In [77]:
name="naveen"
x = name.center(20)

print(x)

       naveen

In [79]:
name="my name is lopamudra"
x = name.count(name)

print(x)

1

In [80]:
name="naveen"
x = name.encode()

print(x)

b'naveen'

In [81]:
name="naveen"
x = name.endswith("n")

print(x)

True

In [83]:
name="n\ta\tv\te\te\tn"
x = name.expandtabs(2)

print(x)

n a v e e n

In [86]:
name="my name is lopa"
x = name.find("name")

print(x)

3

In [88]:
name="naveen"
x = name.index("naveen")

print(x)

0

In [90]:
name="naveen"
x = name.isalnum()

print(x)

True

In [91]:
name="naveen"
x = name.isalpha()

print(x)

True

In [93]:
name="naveen"
x = name.isascii()

print(x)

True

In [94]:
name="naveen"
x = name.isdecimal()

print(x)

False

In [95]:
name="naveen"
x = name.isdigit()

print(x)

False

In [96]:
name="naveen"
x = name.isidentifier()

print(x)

True

In [97]:
name="naveen"
x = name.islower()

print(x)

True

In [98]:
name="naveen"
x = name.isnumeric()

print(x)

False

In [99]:
name="naveen"
x = name.isprintable()

print(x)

True

In [100]:
name="naveen"
x = name.isspace()

print(x)

False

In [101]:
name="naveen"
x = name.istitle()

print(x)

False

In [102]:
name="naveen"
x = name.isupper()

print(x)

False

In [105]:
name=("naveen","lopa")
x = "#".join (name)

print(x)

naveen#lopa

**Q: Create a list "todo_list" and add some todo items in the list**
</br>
**Check what is the type of the variable and what are the public method available on that variable**
</br>
**Practice all the methods and write a brief summary on each of them in your words**

In [7]:
todo_list = [
    "complete python study", 
    "complete python test",
    "get the certificate"
]
print(todo_list)

['complete python study', 'complete python test', 'get the certificate']

In [8]:
dir(todo_list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [26]:
todo_list= ["complete python study", 
    "complete python test",
    "get the certificate"]
todo_list.append("doubt clear")
print(todo_list)

['complete python study', 'complete python test', 'get the certificate', 'doubt clear']

In [27]:
todo_list= ["complete python study", 
    "complete python test",
    "get the certificate"]
todo_list.clear()
print(todo_list)

[]

In [29]:
todo_list= ["complete python study", 
    "complete python test",
    "get the certificate"]
todo_list_copy=todo_list.copy()
print(todo_list_copy)

['complete python study', 'complete python test', 'get the certificate']

In [31]:
todo_list= ["complete python study", 
    "complete python test",
    "get the certificate"]
todo_list_count=todo_list.count("complete python study")
print(todo_list_count)

1

In [32]:
todo_list= ["complete python study", 
    "complete python test",
    "get the certificate"]
todo_list1= ["complete corejava study", 
    "complete corejava test",
    "get the certificate"]
todo_list1.extend(todo_list)
print(todo_list1)

['complete corejava study', 'complete corejava test', 'get the certificate', 'complete python study', 'complete python test', 'get the certificate']

In [33]:
todo_list= ["complete python study", 
    "complete python test",
    "get the certificate"]
index=todo_list.index("get the certificate")
print(index)

2

In [35]:
todo_list= ["complete python study", 
    "complete python test",
    "get the certificate"]
todo_list.insert(1,"doubt clear")
print(todo_list)

['complete python study', 'doubt clear', 'complete python test', 'get the certificate']

**Q: Create a dictionary "user" and add name, city key value pair in the dictionary**
</br>
**Check what is the type of the variable  user and what are the public method available on that variable**
</br>
**Practice all the methods and write a brief summary on each of them in your words**

In [53]:
 user = {
  "name": "lopa",
  "city": "Bhubaneswar"
}
print(user)

{'name': 'lopa', 'city': 'Bhubaneswar'}

In [54]:
dir(user)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [55]:
user.clear()
print(user)

{}

In [57]:
 user = {
  "name": "lopa",
  "city": "Bhubaneswar"
}
user_copy=user.copy()
print(user_copy)

{'name': 'lopa', 'city': 'Bhubaneswar'}

In [59]:
user= {"name","city"}
keys= {"lopa","Bhubaneswar"}
userkeys = dict.fromkeys(user, keys)
print(userkeys)

{'city': {'Bhubaneswar', 'lopa'}, 'name': {'Bhubaneswar', 'lopa'}}

In [60]:
user = {
  "name": "lopa",
  "city": "Bhubaneswar"
}
user_get=user.get("name")
print(user_get)

lopa

In [61]:
user = {
  "name": "lopa",
  "city": "Bhubaneswar"
}
user_items=user.items()
print(user_items)

dict_items([('name', 'lopa'), ('city', 'Bhubaneswar')])

In [64]:
user = {
  "name": "lopa",
  "city": "Bhubaneswar"
}
user_pop=user.pop("city")
print(user)

{'name': 'lopa'}

In [65]:
user = {
  "name": "lopa",
  "city": "Bhubaneswar"
}
user_popitem=user.popitem()
print(user)

{'name': 'lopa'}

In [68]:
user = {
  "name": "lopa",
  "city": "Bhubaneswar"
}
user_setdefault=user.setdefault("city","Koraput")
print(user_setdefault)

Bhubaneswar

In [72]:
user = {
  "name": "lopa",
  "city": "Bhubaneswar"
}
user_update=user.update({"city1": "Koraput"})
print(user)

{'name': 'lopa', 'city': 'Bhubaneswar', 'city1': 'Koraput'}

In [73]:
user = {
  "name": "lopa",
  "city": "Bhubaneswar"
}
user_values=user.values()
print(user_values)

dict_values(['lopa', 'Bhubaneswar'])

In [106]:
x = 0
a = 0
b = -5
if a > 0:
    if b < 0: 
        x = x + 5 
    elif a > 5:
        x = x + 4
    else:
        x = x + 3
else:
    x = x + 2
print(x)

2

In [108]:
numbers = [10, 20]
items = ["Chair", "Table"]

for x in numbers:
   
 for y in items:
   
 print(x, y)

IndentationError: expected an indented block after 'for' statement on line 6 (1897730005.py, line 8)

In [109]:
var = 10
for i in range(10):
    for j in range(2, 10, 1):
        if var % 2 == 0:
            continue
            var += 1
    var+=1
else:
    var+=1
print(var)

21

In [110]:
x = 0
for i in range(10):
    for j in range(-1, -10, -1):
    x += 1
    print(x)

IndentationError: expected an indented block after 'for' statement on line 3 (2974859316.py, line 4)

In [111]:
def outer_fun(a, b):
    def inner_fun(c, d):
        return c + d

    return inner_fun(a, b)
    return a

result = outer_fun(5, 10)
print(result)

15

In [112]:
def fun1(name, age=20):
    print(name, age)

fun1('Emma', 25)

Emma 25

In [113]:
def display(**kwargs):
    for i in kwargs:
        print(i)

display(emp="Kelly", salary=9000)

emp
salary

In [114]:
def outer_fun(a, b):
    def inner_fun(c, d):
        return c + d
    return inner_fun(a, b)

res = outer_fun(5, 10)
print(res)

15

In [116]:
def fun1(num):
    return num + 25

fun1(5)
print(num)

NameError: name 'num' is not defined